<table class="articles_index">
<% @articles.each do |article| %>
<tr id="article_<%= article.id %>">
    <%= render 'rate', :article => article %>
    <td class="article">
        <div class="article_body"><%= link_to article.title, article %> ▪ <%= raw truncate h(article.body), :length => 500, :separator => " ", :omission => " " + link_to ('(more)', article) %></div>
        <div class="article_category">☁ <%= article.category.title %></div>
        <% if article.tags.any? %>
            <div class="article_tags">## <%= article.tags_string %></div>
        <% end %>
        <div class="article_author">⚉ <%= article.author.displayname %></div>
    </td>
</tr>
<% end %>
</table>
<div id="all_news_button">
<%= link_to image_tag("all_news_button.png"), unabridged_index_path %>
</div>