<div class="article_show">
<table>
<tr id="article_<%= @article.id %>">
    <%= render 'rate', :article => @article %>
    <td><h1><%= @article.title %></h1>
        <div class="article_author">By <%= @article.author.displayname %></div>
        <div class="article_category">Filed in: <%= @article.category.title %></div>
        <% if @article.tags.any? %>
            <div class="article_tags">Tags: <%= @article.tags_string %></div>
        <% end %>
    </td>
</tr>
</table>    

<div class="body">
  <%= @article.body %>
</div>

<div class="source">
  <b>Source:</b> <%= @article.source %>
</div>

<% if @article.owned_by? current_user %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<% end %>

<h3>Comments:</h3>
<div id="comments">
    <%= render @article.comments %>
</div>

<%= link_to "add comment", new_article_comment_path(@article, :format => :js), :remote => true, :id => 'new_comment_link' %>
</div>